@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d3142;
}

header {
    margin: 1rem 5rem;
}


/*All NavBar Items*/

nav {
    font-family: 'Ubuntu', sans-serif;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-main li {
    list-style: none;
}

.nav-main li a {
    text-decoration: none;
}

.nav-main h1 {
    font-size: 2rem;
}

.nav-main h1 .spn1 {
    color: goldenrod;
}

.nav-main h1 .spn2 {
    color: white;
}


/*Central Page links*/

.nav-link {
    display: inline-flex;
}

.nav-link li {
    padding-left: 2rem;
    list-style: none;
    font-size: auto;
    font-weight: 550;
}

.nav-link li a {
    text-decoration: none;
    color: rgb(192, 192, 192);
}

.nav-link li :hover {
    color: rgb(255, 255, 255);
}


/*Buttons*/

.nav-btn {
    display: inline-flex;
}

button {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
}

.up {
    border: 1px solid #f7b555;
    background-color: #2d3142;
    color: white;
}

.in {
    border: 1px solid #f7b555;
    background: #f7b555;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    float: left;
    column-gap: 100px;
}

.content h3 {
    color: red;
    margin-top: 10rem;
}

.content h1 {
    margin-top: 10px;
    color: white;
    font-size: 3.5rem;
}

.content h1 .a {
    padding-top: 1rem;
}

.content h1 .b {
    color: #f7b555;
}

.content p {
    font-size: 18px;
    font-weight: 100;
    padding-top: 2rem;
    color: #fffcf7;
}

.content button {
    margin-top: 5rem;
    width: 150px;
    height: 50px;
    color: #000000;
    border: none;
    background-color: #f7b555;
    font-weight: 750;
}

.pic img {
    position: absolute;
    top: 6rem;
    left: 57rem;
    width: 400px;
    height: 400px;
    margin-top: 5rem;
    box-shadow: 50px 50px 1px #f7b555;
}

@media(max-width:40rem) {
    .nav-main {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .nav-link {
        margin-top: 20px;
        color: white;
    }
    .nav-link a {
        color: white;
    }
    .nav-btn {
        display: none;
    }
    .main {
        display: flex;
    }
    .content {
        text-align: center;
    }
    .content h3 {
        margin-top: 5rem;
    }
    .content p {
        text-align: center;
    }
    .pic img {
        position: absolute;
        top: 45rem;
        left: 3rem;
        box-shadow: 20px 20px 1px #f7b555;
    }
}